@import "../common/common";

.tasks__list {
  padding-left: 10%;

  input {
    margin: 0;
    width: 80%;
    padding: 8 * $px;
    border-style: none;
    border-bottom-style: solid;
  }

  h2 {
    font-size: 24 * $px;
    margin-bottom: 15 * $px;
  }

  ul {
    border: 1 * $px solid $borders;
    margin-bottom: 25 * $px;

    li {
      border-bottom: inherit;
      padding: 10 * $px;
      position: relative;
      min-height: 70 * $px;

      &.is-done {
        opacity: 0.55;
      }

      &:last-child {
        border-bottom: none;
      }

      h3 {
        font-size: 20 * $px;
        margin-bottom: 10 * $px;
      }

      button {
        @include flexCenter;
        padding: 0;
        width: 20 * $px;
        height: 20 * $px;
        position: absolute;
        right: 10 * $px;

        &.delete_button,
        &.done-button {
          top: 10 * $px;
        }

        &.done-button {
          right: 35 * $px;
        }

        &.edit-button {
          top: 35 * $px;
        }

        svg {
          width: 100%;
          height: 100%;

          line,
          polyline,
          path {
            stroke: $button-bg;
          }

          path {
            fill: $button-bg;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768*$px) {
  .tasks__list {
    padding-left: 0;
  }
}
