@import "../common/common";

.tasks__list {
  padding-left: 10%;

  .todo-wrapper {
    position: relative;
  }
  
  .drag-tip {
    font-size: 12 * $px;
    position: absolute;
    right: 0;
    top: 0;
    width: 150 * $px;
    text-align: right;
    line-height: 1.1;
    font-weight: bold;
  }

  input {
    margin: 0;
    width: 80%;
    padding: 8 * $px;
    border-style: none;
    border-bottom-style: solid;
  }

  h2 {
    font-size: 24 * $px;
    margin-bottom: 15 * $px;
  }

  ul {
    border: 1 * $px solid $borders;
    margin-bottom: 25 * $px;

    li {
      border-bottom: inherit;
      padding: 10 * $px;
      position: relative;
      min-height: 70 * $px;
      background: $main-bg;
      cursor: grab;

      &.is-dragging {
        transform: scale(1.05);
        border-top: inherit;
        border: inherit;
        z-index: 2;
        transition: 0.15s;
      }

      &.is-done {
        opacity: 0.55;
      }

      &:last-child:not(.is-dragging) {
        border-bottom: none;
      }

      h3 {
        font-size: 20 * $px;
        margin-bottom: 10 * $px;
      }

      button {
        @include flexCenter;
        @include cubicBezier;
        padding: 0;
        width: 20 * $px;
        height: 20 * $px;
        position: absolute;
        right: 10 * $px;

        &.delete_button,
        &.done-button,
        &.restore-button {
          top: 10 * $px;
        }

        &.done-button,
        &.restore-button {
          right: 35 * $px;
        }

        &.edit-button {
          top: 35 * $px;
        }

        svg {
          width: 100%;
          height: 100%;

          line,
          polyline,
          path {
            stroke: $button-bg;
          }

          path {
            fill: $button-bg;
          }
        }
      }
    }
  }

  @include mobile {
    padding-left: 0;
  }
}
