* {
  scroll-behavior: smooth;
}

body {
  @include cubicBezier;
  min-height: 100vh;
  margin: 0;
  background: $main-bg;
  color: $text-color;

  &.theme-light {
    img {
      filter: none;
    }

    svg {
      fill: #fff;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font_bold;
  font-weight: bold;
  line-height: 1;
}

p,
a,
li,
b,
span {
  font-family: $font_main;
}

#app {
  padding: 125 * $px 5% 35 * $px;

  main {
    position: relative;
    margin: 0 !important;

    .app__content {
      margin: 0 !important;
    }

    .app-loader {
      width: 35px;
      height: 35px;
      position: absolute;
      top: calc(50% - #{17.5 * $px});
      left: calc(50% - #{17.5 * $px});
    }
  }
}

@media screen and (max-width: 768*$px) {
  #app {
    .app__content {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
