// CSS variables
:root {
  // Dark mode
  --main-bg: #000;
  --text-color: #fff;
  --button-bg: #fff;
  --button-text: #000;
}

// Units
$px: 0.0625rem;

// Fonts
$font_main: "Poppins";
$font_bold: "Gilroy";

// Colors
$main-bg: var(--main-bg);
$text-color: var(--text-color);
$button-bg: var(--button-bg);
$button-text: var(--button-text);
$white: #fff;
$borders: #5c6268;
$blue: #2188ff;
$red: #ea4a5a;
