// CSS variables
:root {
  // Dark mode
  --dark: #000;
}

// Units
$px: 0.0625rem;

// Fonts
$font_main: "Poppins";

// Colors
$dark: var(--dark);
$white: #fff;
$borders: #5c6268;
$blue: #2188ff;
$red: #ea4a5a;
