// CSS variables
:root {
  // Dark mode
  --main-bg: #000;
  --text-color: #fff;
}

// Units
$px: 0.0625rem;

// Fonts
$font_main: "Poppins";
$font_bold: "Gilroy";

// Colors
$main-bg: var(--main-bg);
$text-color: var(--text-color);
$white: #fff;
$borders: #5c6268;
$blue: #2188ff;
$red: #ea4a5a;
